@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.856), rgba(0, 0, 0, 0.685)), url('/img/bg_2.png');
    background-attachment: fixed;
}

.navbar {
    top: 0;
    overflow: hidden;
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: black;
    padding-bottom: 5vh;
    
    /* border: 2px solid white; */
    /* margin-top: 2vh; */
    /* behavior: sticky; */
}

.logo {
    /* width: 15%; */
    height: 5vh;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* padding-left: 2%; */
    /* border: 2px solid white; */
    border-radius: 1vh;
    margin-left: 5vh;
    text-shadow: 0 0 1px,
        0 0 15px,
        0 0 45px,
        0 0 75px,
        0 0 95px,
        0 0 175px;
}

.logo h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    padding-top: .5vh;
    /* font-family: calibri; */
    /* letter-spacing: .5vh; */
}

.ananya {
    color: #15F4EE;
    font-size: 4.5vh;
    /* border: 2px solid white; */
}

.mishra {
    margin-left: 2vh;
    color: #FF6EFF;
    /* border: 2px solid white; */
}

.nav-items {
    width: 85%;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: black; */
}

.nav-item {
    border: .3vh solid rgba(255, 255, 255, 0);
    border-bottom: .3vh solid white;
    padding: 1vh 1.5vh;
    /* border-radius: 1vh; */
    border-bottom-left-radius: 2vh;
    /* border-top-right-radius: 1vh; */
    transition: .3s ease-in-out;
    color: white;
    font-family: 'Edu SA Beginner', cursive;
    font-size: 2.5vh;
}

.nav-item a {
    text-decoration: none;
    color: white;
    transition: .3s ease-in-out;
}

.nav-item:hover{
    border: .3vh solid #FF6EFF;
    border-radius: 2vh;
}
.nav-item:hover a{
    color: #15F4EE;
    text-shadow: 0 0 1px,
        0 0 5px,
        0 0 10px,
        0 0 15px,
        0 0 20px;
}

.artist-section {
    /* width: 95%; */
    /* background-color: rgba(6, 239, 231, 0.34); */
    /* border: 2px solid green; */
    width: 80%;
    margin: 0 auto;
    padding: 1vh 0;
    /* border-radius: 4vh; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10vh;
    align-items: center;
    color: white;
    padding-bottom: 10vh;
    border-bottom: .1vh solid white;
}

.artist-picture {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.artist-picture img {
    width: 80%;
    border: .5vh solid white;
    
    border-radius: 200vh;
}
.artist-picture img:hover{
    box-shadow: 0px 0px 1.2vh  #15F4EE,
    0px 0px 1.2vh  #15F4EE,
    0px 0px  1.2vh  #15F4EE,
    0px 0px  1.2vh  #15F4EE;
}

.about-section {
    /* border: 2px solid green; */
    width: 60%;
    margin-left: 5vh;
    /* height: 10%; */
    
}
.about-section h1{
    /* border-bottom: .1vh solid #15F4EE; */
    display:inline-block;
    /* font-family: 'Satisfy', cursive; */
    /* font-family: 'Great Vibes', cursive; */
    /* font-family: 'Tangerine', cursive; */
    font-family: 'Dancing Script', cursive;
    font-weight: 100;
    word-spacing: 2vh;
    font-size: 7vh;
}
.work{
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 95%;
    /* background-color: rgba(128, 128, 128, 0.148); */
    /* border: 2px solid green; */
    margin: 1vh auto;
    padding: 1vh 0;
    border-radius: 4vh;
    color: white;
}
.worktitle{
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    font-weight: 100;
    font-size: 7vh;
}
.slideshow-container{
    /* margin: 2vh; */
    margin-left: 30vh;
    /* border: 2px solid red; */
    width: 375px;
    /* position: absolute; */
    overflow: hidden;
    border: 1.5vh solid white;
    border-radius: 1vh;
    box-shadow: 0 0 10vh#15F4EE;
    transition: .3s ease-in-out;
}
.slideshow-container:hover{
    transform: scale(1.3);
    box-shadow: 0 0 5vh#15F4EE;
}
.wrapper{
    width: 100%;
    display: flex;
    animation: slide 32s infinite;
}
@keyframes slide {
    0%{
        transform: translateX(0);
    }
    15%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(-100%);
    }
    25%{
        transform: translateX(-100%);
    }
    30%{
        transform: translateX(-200%);
    }
    35%{
        transform: translateX(-200%);
    }
    40%{
        transform: translateX(-300%);
    }
    45%{
        transform: translateX(-300%);
    }
    50%{
        transform: translateX(-400%);
    }
    55%{
        transform: translateX(-400%);
    }
    60%{
        transform: translateX(-500%);
    }
    65%{
        transform: translateX(-500%);
    }
    70%{
        transform: translateX(-600%);
    }
    75%{
        transform: translateX(-600%);
    }
    80%{
        transform: translateX(-700%);
    }
    85%{
        transform: translateX(-700%);
    }
    90%{
        transform: translateX(-800%);
    }
    95%{
        transform: translateX(-800%);
    }
    100%{
        transform: translateX(0);
    }
    
}

.wrapper img{
    width: 100%;
}
.education{
    /* border: 2px solid red; */
    width: 80%;
    margin: 10vh auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    border-bottom: .1vh solid white;
    padding-bottom: 10vh;
}
.edu-title{
    /* border: 2px solid white; */
    /* display: inline; */
    /* font-size: 7vh; */
    color: white;
    text-align: left;
    width: 90%;
    margin: 1vh auto;
    margin-bottom: 5vh;
}
.edu-title h1{
    font-size: 7vh;
    /* font-family: 'Tangerine', cursive; */
    font-family: 'Dancing Script', cursive;
    font-weight: 100;
    /* border: .1vh solid #15F4EE; */
    display: inline-block;
    word-spacing: 2vh;
}
.edu-container{
    width: 90%;
    /* border: .1vh solid white; */
    color: white;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 1vh;
}
.edu-logo{
    border: .2vh solid white;
    border-radius: 1vh;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8vh;
}
.edu-logo img{
    width: 100%;
    border-radius: 1vh;
}
.edu-content{
    width: 90%;
    /* border: 2px solid red; */
    /* text-align: center; */
    /* padding-left: 10vh; */
    margin-left: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* font-size: 1.5vh; */
    /* font-weight: 100; */
}
.edu-content h1{
    /* border: 2px solid white; */
    font-size: 3vh;
}
.edu-content p{
    /* border: 2px solid yellow; */
    margin-left: 5vh;
}
.art{
    /* border: 2px solid white; */
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10vh;
    /* width: 100%; */
    padding-top: 2vh;
}
.art-container{
    /* border: 2px solid red; */
    border-radius: 2vh;
    width: 23%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
}
.art-img{
    border: 2px solid white;
    border-radius: 1vh;
    padding: .5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.art-img img{
    border-radius: 1vh;
    width: 40vh;
    height: 60vh;
}
.art-title, .art-price{
    font-size: 2vh;
    /* font-family: 'Tangerine', cursive; */
    font-family: 'Dancing Script', cursive;
    font-weight: 100;
    /* border: .1vh solid #15F4EE; */
    display: inline-block;
    /* word-spacing: 2vh; */
    /* color:; */
}
.addToCartBtn, .removeFromCartBtn {
    background-color: transparent;
    color: #fff;
    border: .1vh solid white;
    padding: 1vh;
    /* margin-top: 10px; */
    cursor: pointer;
    border-radius: 5vh;
    font-family: 'Edu SA Beginner', cursive;
    font-size: 2vh;
    transition: .2s ease-in-out;
}
.removeFromCartBtn{
    margin-top: 1vh;
}
.addToCartBtn:hover, .removeFromCartBtn:hover {
    /* background-color: transparent; */
    border: .1vh solid grey;
    text-shadow:  0 0 1px,
    0 0 15px,
    0 0 45px,
    0 0 75px,
    0 0 95px,
    0 0 175px;
}

.cart {
    display: flex;
    align-items: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.close {
    float: right;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input {
    padding: 5px;
    margin: 5px 0;
}
